/*
 |---------------------------------------------
 | Colors
 |---------------------------------------------
 |
 |
 */
$brand-color: #FF555B; //#FF6268;
$accent-color: #FFC655;

.brand {
  background-color: $brand-color !important;
  color: #f0f0f0 !important;
}