/*
 |---------------------------------------------
 | Nav
 |---------------------------------------------
 |
 |
 */

nav {
  @extend .grey.lighten-5;
  color: $brand-color;

  ul a,
  a {
    color: $brand-color;    
  }

  .brand-logo {
    color: $brand-color;
    font-family: $font-family-heading;
  }
}

.sidenav {
  z-index: 999999999;
}

.nav__button {
  cursor: pointer;
}