/*
 |---------------------------------------------
 | Splash Page
 |---------------------------------------------
 |
 |
 */

.splash-page {
  color: #f0f0f0;
  margin-top: 5vh;
  text-align: center;

  .at-form {
    .header {
      font-size: 2rem;
    }
  }

  a {
    color: #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }
}

.splash-page__preview-image {
  max-height: 90vh;
}

.splash-page__logo {
  margin-top: 5vh;
  max-width: 150px;
  width: 25vw;
}

.splash-page__heading {
  font-family: $font-family-heading;
  font-size: 3rem;
}

.splash-page__description {
  font-family: $font-family;
  font-size: 2rem;
  margin-bottom: 20vh;
}
