/*
 |---------------------------------------------
 | Splash Page
 |---------------------------------------------
 |
 |
 */

.splash-page {
  color: #f0f0f0;
  margin-top: 5vh;
  text-align: center;

  .at-form {
    .header {
      font-size: 2rem;
    }
  }

  a {
    color: #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }
}

.splash-page__preview--after {
  clear: both;
}

.splash-page__preview-image-link {
  border-bottom: 0 !important;
  display: block;
  position: relative;
}

.splash-page__preview-image {
}

.spash-page__preview-image-wrapper,
.splash-page__preview-phone {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.spash-page__preview-image-wrapper {
  z-index: 5;
}

.splash-page__preview-phone {
  max-width: 100%;
  max-height: 65vh;
  z-index: 10;
}

.splash-page__logo {
  margin-top: 5vh;
  max-width: 150px;
  width: 25vw;
}

.splash-page__heading {
  font-family: $font-family-heading;
  font-size: 3rem;
}

.splash-page__description {
  font-family: $font-family;
  font-size: 2rem;
  margin-bottom: 20vh;
}
