.view {
  .row {
    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.view__player {
  background-color: black;
  margin-bottom: 0;

  .l8 {
    background-color: black;
  }

  .l4 {
    background-color: $brand-color;
  }
}